.ui-icon-container {
    position: sticky;
    background-color: #84D260;
}

.ui-icon {
    cursor: pointer;
    display: inline-block;
    margin: 0 !important;
    display: inline !important;
}

#info-tempo {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.mostrar-corretas > .questao-container > .c {
    accent-color: green !important;
}

.mostrar-corretas > .questao-container > .c {
    accent-color: green !important;
}


/* Conteúdos */
.conteudo-img {
    display: block;
    margin: auto;
}

.maximizado > .conteudo {
    width: 50%;
    margin: auto;
}

form > input {
    display: block;
}

form {
    accent-color: var(--vermelho_primario);
}

button {
    color: white;
    background-color: var(--vermelho_primario);
    width: 115px;
    height: 35px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    padding: 2px;
    margin-right: 10px;
}

button:hover {
    background-color: var(--vermelho_secundario);
}

.btn-container {
    width: 50%;
    margin: 20px 20px 10px 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}

th {
    background-color: transparent;
}

.aviso-verde {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    color: #2b5b2b ;
    background-color: #a8e6a2;
    padding: 15px;
    border-radius: 10px;
}

.aviso-verde img {
    display: block;
}

.aviso-laranja {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    color: #735c0f ;
    background-color: #ffe084;
    padding: 15px;
    border-radius: 10px;
}

.aviso-laranja img {
    display: block;
}

.aviso-vermelho {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    color: #a40000;
    background-color: #ff9999;
    padding: 15px;
    border-radius: 10px;
}

.aviso-vermelho img {
    display: block;
}