body {
    height: 98vh;
}

header {
    background-color: var(--vermelho_secundario);
    height: 125px;
}

#about_us-a {
    color: var(--vermelho_primario);
}

/* barrinha vermelha   */ 
#about_us-a::before {
    content: '';
    position: absolute; /* Usa como base o container se pa */
    top: -28px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 4px;
    background-color: var(--vermelho_primario);
    cursor: auto;
}

main {
    margin-top: 15px;
    height: 78%;
    background-color: var(--background_conteudo);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section a {
    text-decoration: none;
    color: var(--vermelho_secundario);
}

section a:visited {
    color: var(--vermelho_secundario);
}

section a:hover {
    color: var(--vermelho_primario);
}

section a::after {
    content: '↗';
}

section {
    justify-items: center;
    justify-self: center;
    padding: 20px;
}

iframe {
    display: block;
    margin: auto;
}

section h1 {
    font-size: 2.5em
}

section p {
    font-size: 1.15em;
}