/* Estilos da página Login e Sign Up */

:root {
    --vermelho_primario: #D90429;
    --vermelho_secundario: #EF233C;
    --background_conteudo: #EDF2F4;
    --background_geral: #ffffff;
    --cor_texto: #2B2D42;
    --nao-selecionado: #808080;

    --aviso-icon-verde-fill: #2c942c;
    --aviso-verde-color: #2b5b2b;
    --aviso-verde-background-color: #a8e6a2;

    --aviso-icon-laranja-fill: #b9910e;
    --aviso-laranja-color: #735c0f;
    --aviso-laranja-background-color: #ffe084;

    --aviso-icon-vermelho-fill: #7a1612;
    --aviso-vermelho-color: #bd0d0d;
    --aviso-vermelho-background-color: #fd8585;
}

.dark {
    --vermelho_primario: #b80c29;
    --vermelho_secundario: #c71d31;
    --background_conteudo: #1B263B; 
    --background_geral: #0D1B2A;
    --cor_texto: #acb6c9;
    --nao-selecionado: #344d69;

    --aviso-icon-verde-fill: #2c942c;
    --aviso-verde-color: #81f376; 
    --aviso-verde-background-color: #215c15; 
    
    --aviso-icon-laranja-fill: #bb891c;
    --aviso-laranja-color: #ffe084; 
    --aviso-laranja-background-color: #5c4615; 
    
    --aviso-icon-vermelho-fill: #eb1414;
    --aviso-vermelho-color: #ff9999; 
    --aviso-vermelho-background-color: #6b1b1be1; 
}

@font-face {
    font-family: "Inter";
    src: url(../font/Inter-VariableFont_opsz\,wght.ttf) format("truetype");
}

.first_a {
    margin-left: 50px;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Inter";
    color: var(--cor_texto);
    background-color: var(--background_conteudo);
}

header {
    padding: 25px 0px 0px 25px;
    display: flex;
    justify-content: flex-end;
}

.logo {
    background-image: url(../img/logo2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    width: 125px;
    height: 100px;
    border-radius: 50px;
    margin-left: 83px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 85px;
    padding: 15px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;    
    height: 55px;
    background-color: var(--background_geral);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.259);
}

/* Ícones e alinhamento */
.icons-container {
    display: flex;
    gap: 15px;
    width: 165px;
}

/* Links de navegação */
nav a {
    letter-spacing: 3px;
    display: block;
    font-size: 1.65em;
    color: var(--nao-selecionado);
    text-decoration: none;
    position: relative;
    font-weight: 600;
    transition: color 0.3s;
}

nav a:hover {
    color: var(--vermelho_primario);
}


#user-icon {
    fill: var(--nao-selecionado); /* Cor inicial do ícone */
    transition: fill 0.3s ease; /* Transição aplicada na cor de preenchimento */
}

#user-icon:hover {
    fill: var(--vermelho_primario); /* Cor no estado de hover */
}

#config-icon {
    fill: var(--nao-selecionado);
    transition: fill 0.3s ease;
}

#config-icon:hover {
    fill: var(--vermelho_primario);
}
