@font-face {
    font-family: "Inter";
    src: url(../font/Inter-VariableFont_opsz\,wght.ttf) format("truetype");
}

body {
    font-family: "Inter", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Contêiner do mapa que vai controlar o scroll */
.mapa-container {
    width: 100%;
    height: 100vh;
    overflow: hidden; /* Esconde o overflow e vamos controlar com JS */
    position: relative;
}

/* Mapa que é maior que o contêiner para permitir o arraste */
.mapa {
    width: 200%; /* Exemplo, faça maior que a tela */
    height: 200%; /* Exemplo, faça maior que a tela */
    background-color: #f0f0f0;
    display: flex;
    position: relative;
    cursor: grab; /* Cursor de arraste */
}

/* Botões das fases */
.fase {
    outline-offset: 3px;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 10px;
}

#um {
    left: 1260px;
    top: 650px;
}

#dois {
    left: 1660px;
    top: 950px;
}

#tres {
    left: 2100px;
    top: 1050px;
}

#quatro {
    left: 2500px;
    top: 1250px;
}

.conteudo-icon {
    background-color: #84D260;
    outline: 3px solid #84D260;
}

.desafio-icon {
    background-color: #ECA72C;
    outline: 3px solid #ECA72C;
    border-radius: 0px;
    transform: rotate(45deg);
}

.exercicio-icon {
    background-color: #C02666;
    outline: 3px solid #C02666;
    border-radius: 0px;

}

.prova-icon {
    background-color: #EE5622; /* Outline */
    width: 78px;
    height: 71px;
    border-radius: 0px;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.prova-icon::before {
    content: '';
    position: absolute;
    background-color: #f0f0f0; /* Offset */
    width: 68px;
    height: 65px;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%); /* Mesma forma */
}

.prova-icon::after {
    content: '';
    position: absolute;
    background-color: #EE5622; /* Body */
    width: 62px;
    height: 59px;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%); /* Mesma forma */
}

.prova-icon.bloqueado::after {
    background-color: gray; 
}

/* Aba lateral */
.aba-lateral {
    width: 47%;
    height: 100vh;
    background-color: #fff;
    position: fixed; /* Isso aqui é o que permite essa gororoba toda ficar certinha. Está sempre no mesmo lugar da tela e nao se auto ajusta, foda. */
    right: -50%;
    top: 0;
    padding: 20px;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    z-index: 100;
    overflow: scroll;
}

.aba-lateral.ativa {
    transform: translateX(-100%);
}

.conteudo {
    display: none;
}

.conteudo.ativo {
    display: block;
    text-align: justify;

}

.maximizado {
    width: 100%; 
    height: 100vh; 
    right: -104%; /* Alterar esse valor com media queries */
}

/* Controles Conteudo */

.ui-icon {
    cursor: pointer;
    display: inline-block;
}
