body {
    height: 100vh;
    display: flex;
}

#color-input {
  display: none;
}

#color-label {
  margin-left: 15px;
  position: absolute;
  height: 30px;
  width: 50px;
} 
#color-input:checked ~ #color-picker {
  opacity: 1;
}
#color-picker {
  margin-left: 70px;
  background-color: white;
  height: 150px;
  width: 185px;
  border: solid 1px #ccc;
  opacity: 0;
  padding: 5px;
}
canvas:hover {
  cursor: crosshair;
}

.profile-edit {
    display: flex;
    background-color: var(--vermelho_secundario);
    
    width: 55%;
    height: 100%;

    align-items: center;
    justify-content: center;

}

.avatar-container {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: none;

    padding: 5px;
    border: 2px solid white;
    background-color: white;
    height: 285px;
    overflow: scroll;
    gap: 10px;
    justify-content: space-evenly;
}

.avatar { /* Tem 20 itens aqui dentro */
    background-color: black;
    width: 125px;
    height: 125px;
    cursor: pointer;

    opacity: 90%;
    border: 1px solid black;
    border-radius: 50%;
}

.avatar:hover {
    opacity: 80%;
}



.controls {
    background-color: var(--background_conteudo);
    
    width: 75%;
    height: 85%;
    padding: 20px;
    border-radius: 30px;
    box-shadow: -4px 3px 5px rgba(0, 0, 0, 0.281);
}

.controls h1 {
    font-size: 2.40em;
    font-weight: bold;
    text-align: center;
    margin: 0;
}


.control h2 {
    font-size: 2.15em;
    margin: 0;
    margin-bottom: 5px;
    padding: 10px;
  }

.profile-preview {
    background-color: var(--background_geral);
    width: 45%;
    height: 100%;

    box-shadow: -6px 0px 5px rgba(0, 0, 0, 0.235);
}

.profile-banner {
    width: 100%;
    height: 40%;
    background-color: red;
}

.profile-selected-avatar {
    background-color: gray;
    transform: translateY(-100px);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: auto;
    border: solid 1px black;
}

.profile-body {
    width: 100%;
    height: 60%;
}

/* Definições de avatar */ 

.avatar {
    background-size: cover;
}

.profile-selected-avatar {
  background-size: cover;
}

  /* Backgrounds específicos para cada ID */
  #avt1 {
    background-image: url('../img/avatar/avt1.jpeg');
  }
  
  #avt2 {
    background-image: url('../img/avatar/avt2.jpeg');
  }
  
  #avt3 {
    background-image: url('../img/avatar/avt3.jpeg');
  }
  
  #avt4 {
    background-image: url('../img/avatar/avt4.jpeg');
  }
  
  #avt5 {
    background-image: url('../img/avatar/avt5.jpeg');
  }
  
  #avt6 {
    background-image: url('../img/avatar/avt6.jpeg');
  }
  
  #avt7 {
    background-image: url('../img/avatar/avt7.jpeg');
  }
  
  #avt8 {
    background-image: url('../img/avatar/avt8.jpeg');
  }
  
  #avt9 {
    background-image: url('../img/avatar/avt9.jpeg');
  }
  
  #avt10 {
    background-image: url('../img/avatar/avt10.jpeg');
  }
  
  #avt11 {
    background-image: url('../img/avatar/avt11.jpeg');
  }
  
  #avt12 {
    background-image: url('../img/avatar/avt12.jpeg');
  }
  
  #avt13 {
    background-image: url('../img/avatar/avt13.jpeg');
  }
  
  #avt14 {
    background-image: url('../img/avatar/avt14.jpeg');
  }
  
  #avt15 {
    background-image: url('../img/avatar/avt15.jpeg');
  }
  
  #avt16 {
    background-image: url('../img/avatar/avt16.jpeg');
  }
  
  #avt17 {
    background-image: url('../img/avatar/avt17.jpeg');
  }
  
  #avt18 {
    background-image: url('../img/avatar/avt18.jpeg');
  }
  
  #avt19 {
    background-image: url('../img/avatar/avt19.jpeg');
  }
  
  #avt20 {
    background-image: url('../img/avatar/avt20.jpeg');
  }
  
  #avt21 {
    background-image: url('../img/avatar/avt21.jpeg');
  }
  
  #avt22 {
    background-image: url('../img/avatar/avt22.jpeg');
  }
  
  #avt23 {
    background-image: url('../img/avatar/avt23.jpeg');
  }
  
  #avt24 {
    background-image: url('../img/avatar/avt24.jpeg');
  }
  
  #avt25 {
    background-image: url('../img/avatar/avt25.jpeg');
  }
  
  #avt26 {
    background-image: url('../img/avatar/avt26.jpeg');
  }
  
  #avt27 {
    background-image: url('../img/avatar/avt27.jpeg');
  }
  
  #avt28 {
    background-image: url('../img/avatar/avt28.jfif');
  }
  