body {
    background-color: var(--vermelho_primario);
}

#ranking-a {
    color: var(--vermelho_primario);
}

/* barrinha vermelha   */ 
#ranking-a::before {
    content: '';
    position: absolute; /* Usa como base o container se pa */
    top: -28px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 4px;
    background-color: var(--vermelho_primario);
    cursor: auto;
}

h1 {
    text-align: center;
}

main {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.357);
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    margin: auto;
    padding: 10px 45px 20px 45px;
    width: 85%;
    margin-top: 50px;
    background-color: var(--background_conteudo);
}

.podio-container {
    height: 525px;
    display: flex;
    justify-content: center;
    gap: 40px;
    overflow: hidden;
}

#segundo_lugar {
    margin-top: 80px;
}

#terceiro_lugar  {
    margin-top: 135px;
}

.podio-info {
    text-align: center;
    color: white;
    background-color: #2b4473;
    height: 275px
}

.podio-info p {
    transform: translateY(15px);
    display: block;
    margin-top: 15px;
}

.podio > p {
    text-align: center;
    margin: 0
}

.podio > svg {
    width: 175px;
    transform: translateY(5px);
}

.podio > img {
    border-radius: 100%;
    display: block;
    width: 175px;
    height: 175px;
}

.leaderboard {
    margin-top: 35px;
}

.ranking {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-top: solid 1px black;
}

.ranking-pos-avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    padding: 5px;
    font-size: 1.75em;
}

.ranking-pos-avatar p {
    margin: 0;
}

.ranking p {
    width: 350px;
}

.leaderboard a {
    text-decoration: none;
    color: var(--cor_texto);
}

.leaderboard a:hover > .ranking{
    background-color: #1a67f62a;
}

.podio-container > a {
    text-decoration: none;
}

.podio   {
    color: var(--cor_texto);
}

.podio-info {
    color: white;
}

.podio-container > a:hover > .podio > .podio-info{
    background-color: #204ea2;
}

.ranking-pos-avatar img {
    border-radius: 100%;
    width: 65px;
    height: 65px;
    display: block;
}

.ranking-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.5em;

    width: 100%;
    padding: 5px;
}

.ranking-info p {
    display: block;
}

.loaded-avatars {
    width: 65px;
    height: 65px;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
}

.btn-mostrar-mais {
    border-radius: 35px;
    border: none;
    background-color: var(--vermelho_primario);
    color: white;
    margin: 15px auto 0 auto;
    padding: 20px 45px 20px 45px;
    display: block;
}

.btn-mostrar-mais:hover {
    cursor: pointer;
    background-color: var(--vermelho_secundario);
}

.btn-mostrar-mais:active {
    background-color: var(--vermelho_primario);
    /*background-color: var(--vermelho_secundario);*/
}

.dot-falling {
    position: relative;
    left: -9999px;
    width: 8px;
    height: 8px;
    border-radius: 5px;
    background-color: white;
    color: white;
    box-shadow: 9999px 0 0 0 white;
    animation: dot-falling 1s infinite linear;
    animation-delay: 0.1s;
  }
  .dot-falling::before, .dot-falling::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
  }
  .dot-falling::before {
    width: 8px;
    height: 8px;
    border-radius: 5px;
    background-color: white;
    color: white;
    animation: dot-falling-before 1s infinite linear;
    animation-delay: 0s;
  }
  .dot-falling::after {
    width: 8px;
    height: 8px;
    border-radius: 5px;
    background-color: white;
    color: white;
    animation: dot-falling-after 1s infinite linear;
    animation-delay: 0.2s;
  }
  
  @keyframes dot-falling {
    0% {
      box-shadow: 9999px -15px 0 0 rgba(255, 128, 128, 0);
    }
    25%, 50%, 75% {
      box-shadow: 9999px 0 0 0 white;
    }
    100% {
      box-shadow: 9999px 15px 0 0 rgba(255, 128, 128, 0);
    }
  }
  @keyframes dot-falling-before {
    0% {
      box-shadow: 9984px -15px 0 0 rgba(255, 128, 128, 0);
    }
    25%, 50%, 75% {
      box-shadow: 9984px 0 0 0 white;
    }
    100% {
      box-shadow: 9984px 15px 0 0 rgba(255, 128, 128, 0);
    }
  }
  @keyframes dot-falling-after {
    0% {
      box-shadow: 10006px -15px 0 0 rgba(255, 128, 128, 0);
    }
    25%, 50%, 75% {
      box-shadow: 10006px 0 0 0 white;
    }
    100% {
      box-shadow: 10006px 15px 0 0 rgba(255, 128, 128, 0);
    }
  }
