{% load static %}

<div class="conteudo" id="conteudo3">
    <img src="{% static 'img/x-circle-fill.svg' %}" alt="Fechar" class="ui-icon" onclick="retornarAba()">
    <img src="{% static 'img/resize-fill.svg' %}" alt="Fechar" class="ui-icon" onclick=" maximizarAba()">
    <div></div>

    <main>
        <h2>A Lógica de Programação é Crucial Porque:</h2>
        <ul>
            <li><strong>Resolução de Problemas:</strong> Ajuda a decompor problemas complexos em etapas menores e mais manejáveis.</li>
            <li><strong>Eficiência:</strong> Melhora a eficiência e a clareza do código, evitando erros e redundâncias.</li>
            <li><strong>Base para Linguagens de Programação:</strong> Fornece a base para escrever código em qualquer linguagem de programação.</li>
        </ul>
        <h2>Raciocínio Lógico</h2>
        <ul>
            <li><strong>Pensamento Sequencial:</strong> Organizar e executar instruções em uma ordem específica.</li>
            <li><strong>Pensamento Condicional:</strong> Fazer escolhas baseadas em condições.</li>
            <li><strong>Pensamento Iterativo:</strong> Repetir tarefas até que uma condição seja satisfeita.</li>
        </ul>
        <p>Em resumo, a lógica de programação é a prática de aplicar raciocínios e técnicas sistemáticas para desenvolver soluções eficazes e funcionais por meio da programação. A lógica de programação é a base para começar como programador e ser um bom profissional na área.</p>

        <a href="https://rachacuca.com.br/logica/problemas/">Clique aqui para abrir atividades para treinar a lógica.</a>
    </main>
</div>