{% load static %}

<div class="conteudo exercicio" id="conteudo5">
    <img src="{% static 'img/x-circle-fill.svg' %}" alt="Fechar" class="ui-icon" onclick="retornarAba()">
    <img src="{% static 'img/resize-fill.svg' %}" alt="Fechar" class="ui-icon" onclick=" maximizarAba()">
    <div></div>

    <main>
        <form id="formulario_fase_5" action="">
            <div class="questao-container">
                <p>Por que a lógica de programação é crucial para resolução de problemas? (Marque todas as opções corretas)</p>
                <input type="checkbox" name="1" class="c"> Ajuda a decompor problemas complexos em etapas menores <br>
                <input type="checkbox" name="2"> É apenas uma técnica para programar <br>
                <input type="checkbox" name="3"> Aumenta a quantidade de código a ser escrito <br>
                <input type="checkbox" name="4" class="c"> Melhora a eficiência e clareza do código <br>
                <input type="checkbox" name="5"> Não tem impacto no desenvolvimento <br>
            </div>
    
            <div class="questao-container">
                <p>Qual é uma das bases para escrever código em qualquer linguagem de programação?</p>
                <input type="radio" name="6" value="c" class="c"> A lógica de programação <br>
                <input type="radio" name="6"> O uso de variáveis <br>
                <input type="radio" name="6"> O conhecimento de frameworks <br>
                <input type="radio" name="6"> A sintaxe da linguagem <br>
                <input type="radio" name="6"> O design do software <br>
            </div>
    
            <div class="questao-container">
                <p>Qual dos seguintes é um exemplo de pensamento condicional?</p>
                <input type="radio" name="7" value="c" class="c"> Executar uma ação se uma condição for verdadeira <br>
                <input type="radio" name="7"> Repetir um bloco de código várias vezes <br>
                <input type="radio" name="7"> Atribuir um valor a uma variável <br>
                <input type="radio" name="7"> Declarar uma função <br>
                <input type="radio" name="7"> Criar uma lista de elementos <br>
            </div>
    
            <div class="questao-container">
                <p>Qual forma é usada para representar uma decisão em um fluxograma?</p>
                <input type="radio" name="8" value="c" class="c"> Losango <br>
                <input type="radio" name="8"> Retângulo com bordas arredondadas <br>
                <input type="radio" name="8"> Paralelogramo <br>
                <input type="radio" name="8"> Retângulo normal <br>
                <input type="radio" name="8"> Círculo <br>
            </div>
    
            <div class="questao-container">
                <p>O que as setas representam em um fluxograma?</p>
                <input type="radio" name="9" value="c" class="c"> O fluxo do processo <br>
                <input type="radio" name="9"> A entrada de dados <br>
                <input type="radio" name="9"> Um ponto de decisão <br>
                <input type="radio" name="9"> O início do programa <br>
                <input type="radio" name="9"> A saída do programa <br>
            </div>
    
            <p class="feedback"></p>
        </form>
    </main>
    
</div>