{% load static %}

<div class="conteudo" id="conteudo9">
    <img src="{% static 'img/x-circle-fill.svg' %}" alt="Fechar" class="ui-icon" onclick="retornarAba()">
    <img src="{% static 'img/resize-fill.svg' %}" alt="Fechar" class="ui-icon maximizar-btn" onclick="maximizarAba()">
    <div></div>
    <main>
        <h1>Tipos de Dados e Saída de Dados</h1>

        <section>
            <h2>Tipos Primitivos</h2>
            <p>
                Em C, os tipos de dados primitivos representam as unidades básicas para o armazenamento de informações. Eles definem tanto o tipo de dado que uma variável pode conter quanto o espaço de memória necessário para armazená-lo. A seguir, detalhamos os principais tipos primitivos disponíveis em C:
            </p>

            <table>
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Tamanho (aproximado)</th>
                        <th>Descrição</th>
                        <th>Exemplo de Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><code>int</code></td>
                        <td>4 bytes</td>
                        <td>Utilizado para armazenar números inteiros, como idades, contagens ou qualquer valor numérico sem parte decimal.</td>
                        <td>10, -50, 0</td>
                    </tr>
                    <tr>
                        <td><code>float</code></td>
                        <td>4 bytes</td>
                        <td>Usado para armazenar números com casas decimais, sendo ideal para variáveis como altura, peso e outras medições que exigem precisão limitada.</td>
                        <td>3.14, -7.5</td>
                    </tr>
                    <tr>
                        <td><code>double</code></td>
                        <td>8 bytes</td>
                        <td>Semelhante ao <code>float</code>, mas com maior precisão, utilizado para cálculos mais complexos e que demandam maior exatidão, como cálculos científicos ou financeiros.</td>
                        <td>3.141592, -0.0001</td>
                    </tr>
                    <tr>
                        <td><code>char</code></td>
                        <td>1 byte</td>
                        <td>Armazena um único caractere, como letras, símbolos ou números que serão tratados como texto.</td>
                        <td>'A', 'z', '1'</td>
                    </tr>
                </tbody>
            </table>
            <p>
                Cada tipo de dado foi projetado para atender a necessidades específicas e otimizar o uso da memória. Por isso, é fundamental escolher o tipo adequado conforme o tipo de dado que você está manipulando, a fim de evitar desperdícios de espaço e garantir a precisão das operações.
            </p>
        </section>

        <section>
            <h2>Declaração de Variáveis</h2>
            <p>
                Para armazenar dados, é necessário declarar variáveis. Uma variável é uma área reservada na memória do computador, associada a um tipo de dado, onde um valor pode ser armazenado e posteriormente manipulado. Vamos ver como declarar variáveis e atribuir valores iniciais:
            </p>

            <pre>
<code class="language-c">
#include &lt;stdio.h&gt;

int main() {
    int idade = 25;         // Declara uma variável inteira e a inicializa com o valor 25
    float altura = 1.75;    // Declara uma variável float e a inicializa com 1.75
    char inicial = 'M';     // Declara uma variável char e a inicializa com 'M'
    double tamanho_cabelo;  // Declara uma variável double e não a inicializa. (Está definida, mas sem um valor)

    double tamanho_cabelo = 5.5213 // Atribui um valor à essa variável.

    return 0;
}
</code>
            </pre>
            <p>
                Neste exemplo, temos três variáveis sendo declaradas:
                <ul>
                    <li><code class="language-c">int idade = 25;</code>: Aqui, a variável <code>idade</code> é declarada como do tipo <code>int</code> e recebe o valor 25.</li>
                    <li><code class="language-c">float altura = 1.75;</code>: A variável <code>altura</code> é do tipo <code>float</code> e é inicializada com o valor 1.75, que é um número decimal.</li>
                    <li><code class="language-c">char inicial = 'M';</code>: A variável <code>inicial</code> armazena um caractere único, neste caso, a letra 'M'.</li>
                    <li><code class="language-c">double tamanho_cabelo;</code> Essa variável é declarada, mas só posteriormente atribuímos um valor à ela.</li>
                </ul>

                <p>Na programação, é extremamente comum a declaração de variáveis nulas, sem nenhua atribuição de dados. Então, fique ligado.</p>

                {% include 'partial/aviso.html' with tipo="laranja" mensagem="Assim que você executar o programa, os dados serão guardados em memória. Mas só o computador sabe disso. Por enquanto!" %}
                {% include 'partial/aviso.html' with tipo="vermelho" mensagem="ATENÇÃO: Para declarar ou atribuir um valor a um tipo primitivo CHAR devemos encapsular o caracter entre aspas simples ('')" %}
            </p>
        </section>

        <section>
            <h2>Saída básica de dados</h2>
            <p>Okay, os dados estão na memória, mas como fazemos para acessá-los? É simples. Mas antes, saiba que chamamos o processo de retorno de dados da memória de <b>saída de dados</b></p>
            <h3>Função <code>printf</code></h3>
            <p>A função <code>printf</code> é essencial para a saída de dados em C (ou seja, o acesso de dados). Ela permite imprimir textos e valores armazenados nas variáveis na tela. A grande vantagem dessa função é a possibilidade de formatar a saída, ajustando a forma como os dados são exibidos.</p>
            <p>Observe abaixo o retorno dos dados guardados em memória anteriormente.</p>
            <pre>
        <code class="language-c">
#include &lt;stdio.h&gt;

int main() {
    int idade = 25;        
    float altura = 1.75;   
    char inicial = 'M';   
    
    printf("A sua idade é: %i", idade); // Saída no console: A sua idade é 25. 
    printf("Você tem %f metros de altura", altura); // Saída no console: Você tem 1.75000 metros de altura
    printf("%c é sua incial", inicial); // Saída no console: M é sua inicial

    return 0;
}
        </code>
            </pre>
            <p>
                O <code>printf</code> permite a formatação dos valores de forma simples.
                No exemplo acima:
                <ul>
                    <li><code class="language-c">printf("A sua idade é: %i", idade);</code> <code>%i ou %d</code>  representa o TIPO INT.</li>
                    <li><code class="language-c">printf("Você tem %f metros de altura", altura);</code> <code>%f</code> representa o TIPO FLOAT. Se você quiser cortar as casas decimais, troque f por .1f, .2f, .3f e assim por diante</li>
                    <li><code class="language-c">printf("%c é sua incial", inicial);</code> <code>%c</code> representa o TIPO CHAR</li>
                </ul>
                Note que no lugar onde estaria a varíavel, no printf, temos uma porcentagem seguida por um caractere, em todas as ocasiões. Estas representações se chamam especificadores da dados, e são importantíssimos para avisar ao computador ONDE o dado deve estar, e qual o seu tipo na saída.
            </p>
        </section>
        <h3>Sabemos que é muita coisa para digerir. Então assista esse video de reforço, e tente fazer alguns programas básicos à seguir</h3>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/n68tJh2mIx4?si=p8npjXGms2TK-FRQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <small>Esse canal é ótimo para o aprendizado, se você estiver com dificuldades, recomendamos que assista sua série de Programação em Linguagem C</small>

        {% include 'partial/aviso.html' with tipo="verde" mensagem="Agora é sua vez! Tente fazer os programas abaixo:" %}
        
        
        <ul>
            <li>Faça um programa que disponha na sua tela todas as suas informaçoes pessoais. (Ninguém além de você terá acesso a este programa)</li>
            <li>Faça um programa com três variáveis. Uma que guarde a inicial do seu nome, outra que guarde o número da sua casa e outra que guarde seu peso. Depois, disponha as informações na tela</li>
        </ul>

    </main>
</div>

