{% load static %}

<div class="conteudo" id="conteudo4">
    <img src="{% static 'img/x-circle-fill.svg' %}" alt="Fechar" class="ui-icon" onclick="retornarAba()">
    <img src="{% static 'img/resize-fill.svg' %}" alt="Fechar" class="ui-icon maximizar-btn" onclick=" maximizarAba()">
    <div></div>

    
    <main>
        <h2>Por que a Lógica de Programação é Essencial?</h2>
        <ul>
            <li>
                <strong>Resolução de Problemas:</strong> A lógica de programação permite decompor problemas complexos em etapas menores e solucionáveis, tornando a abordagem mais clara e eficiente.
            </li>
            <li>
                <strong>Clareza no Pensamento:</strong> Ajuda a organizar ideias e a formular soluções sistemáticas, evitando improvisações que podem levar a erros no código.
            </li>
            <li>
                <strong>Base para Qualquer Linguagem:</strong> A lógica de programação é universal e se aplica a qualquer linguagem, como Python, C ou Java, que são ferramentas usadas para "traduzir" nossas ideias em instruções que o computador entende.
            </li>
            <li>
                <strong>Desenvolvimento de Raciocínio Abstrato:</strong> Fortalece a capacidade de lidar com conceitos abstratos, fundamentais para estruturar e implementar algoritmos complexos.
            </li>
        </ul>
        
        <h2> O que é logica de programação?</h2>
        
        <p>Assista esse rápido vídeo de Micael Mota para entender:</p>
        <iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/FF1wTboPbkc?si=TlebwlqmHVVsutrJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

        <h2>O que são Linguagens de Programação?</h2>
        <p>
            Linguagens de programação são ferramentas que permitem aos programadores se comunicarem com o computador. Elas transformam ideias e soluções em instruções executáveis pela máquina. Exemplos incluem <strong>C</strong>, uma linguagem eficiente e amplamente usada, e <strong>Python</strong>, conhecida por sua simplicidade e legibilidade.
        </p>

        {% include 'partial/aviso.html' with tipo="laranja" mensagem="SPOILER: Neste curso, usaremos a linguagem C! Fique atento às proximas fases para saber o porquê." %}


        <h2>Benefícios Além da Programação</h2>
        <p>
            A lógica de programação não é apenas útil para escrever código; ela desenvolve habilidades valiosas para outras áreas, como matemática, análise de dados e até mesmo a resolução de problemas do cotidiano. Com uma boa lógica, você se torna mais analítico, metódico e eficaz na tomada de decisões.
        </p>
        <p>
            Em resumo, a lógica de programação é a base fundamental para quem deseja não apenas aprender a programar, mas também se destacar como desenvolvedor. É o ponto de partida para entender como transformar ideias em soluções práticas e funcionais.
        </p>

        <a style="margin-bottom: 15px; padding-bottom: 15px;" href="https://rachacuca.com.br/logica/problemas/" target="_blank">Clique aqui para acessar atividades e treinar sua lógica.</a>
    </main>
        

</div>