{% load static %} 

<div class="conteudo desafio" id="conteudo11">
    <img src="{% static 'img/x-circle-fill.svg' %}" alt="Fechar" class="ui-icon" onclick="retornarAba()">
    <img src="{% static 'img/resize-fill.svg' %}" alt="Fechar"  class="ui-icon maximizar-btn" onclick=" maximizarAba()">
    <div></div>
    <main>  
        {% include 'partial/aviso.html' with tipo="laranja" mensagem="DICA: Olhe cuidadosamente, sem pressa!" %}
        {% include 'partial/aviso.html' with tipo="verde" mensagem="OUTRA DICA: Hmmmmmm, variáveis? Deve ser porque variam, né?" %}
        <form id="formulario_fase_11" action="">
            <div class="questao-container">
                <p>Conforme os comandos que já vimos até aqui. Quais são os comandos que <b>ESTÃO</b> presentes no código abaixo.</p>
                <pre>
                    <code class="language-c">
#include &lt;stdio.h&gt;
#define ANO_ATUAL 2024 // Ano em que estou desenvolvendo esse site, não sei se isso vai atualizar :P

    int main() {
        int idade;

        scanf("%i", &idade);
        printf("a sua idade é %i", ANO_ATUAL - idade);
        // Não se preocupe, o próximo assunto que iremos ver, irá cobrir os cálculos
    
        return 0;
    }
                    </code>
                </pre>
                
                <input type="checkbox" name="1" class="c"> Saída de dados. <br>
                <input type="checkbox" name="2" class="c"> Entrada de dados. <br>
                <input type="checkbox" name="3" class="c"> Declaração de variáveis. <br>
                <input type="checkbox" name="4" class="c"> Declaração de constantes. <br>
                <input type="checkbox" name="5" class="c"> Comentários.
            </div>
            <div class="questao-container">
                <p>Conforme os comandos que já vimos até aqui. Quais são os comandos que <b>NÃO</b> estão presentes no código abaixo.</p>
                <pre>
                    <code class="language-c">
#include  &lt;stdio.h &gt;

    int main() {
        char sexo = 'F';
    
        printf("Olá, seu sexo é %c! Seja bem-vindo!\n", sexo);
    
        return 0;
    }                         
                    </code>
                </pre>
                <input type="checkbox" name="6"> Saída de dados. <br>
                <input type="checkbox" name="7" class="c"> Entrada de dados. <br>
                <input type="checkbox" name="8"> Declaração de variáveis. <br>
                <input type="checkbox" name="9" class="c"> Declaração de constantes. <br>
                <input type="checkbox" name="10" class="c"> Comentários.
            </div>
            <br>
            <div class="feedback"></div>
        </form>
    </main>
</div>