{% load static %}

<div class="conteudo desafio" id="conteudo14">
    <img src="{% static 'img/x-circle-fill.svg' %}" alt="Fechar" class="ui-icon" onclick="retornarAba()">
    <img src="{% static 'img/resize-fill.svg' %}" alt="Fechar" class="ui-icon maximizar-btn" onclick=" maximizarAba()">
    <div></div>
    <main>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/SXAxAlGNcqE?si=srJsUy4bOzrIsQmH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        {% include 'partial/aviso.html' with tipo="vermelho" mensagem="O desafio a seguir é BEM desafiador, se você não pegou bem todos os conceitos anteriores. Porfavor, revise. Boa sorte!" %}

        <hr>

        <form id="formulario_fase_14" class="prevent-select" action="">
            <div class="questao-container">
                <p>Preste muito atenção no código, leia linha-a-linha, e marque a opção que reflete os valores FINAIS de A, B e C.</p>

                <pre><code class="language-c">
#include &lt;stdio.h&gt;

    int main() {
        int A = 10, B = 5, C = 3;
        
        A = (A * B) - (C + 2 * 4);   
        B = (B - C) + A / 2;              
        A = A + (C * C) - 300;   
        B = B + (A - C);         
        C = C * C + 10;      
       
        
        // Qual serão os valores finais de A, B e C? Boa sorte :3
        
        return 0;
    }    
                </code></pre>
                <input type="radio" name="1"><code style="font-size: 1em;">A = 12; B = 105; C = 35</code> <br>
                <input type="radio" name="1"><code style="font-size: 1em;">A = -2; B = 125; C = 25</code> <br>
                <input type="radio" name="1"><code style="font-size: 1em;">A = 12; B = 115; C = 32</code> <br>
                <input type="radio" name="1"><code style="font-size: 1em;">A = 32; B = 825; C = 35</code> <br>
                <input type="radio" name="1"><code style="font-size: 1em;">A = 12; B = 555; C = 35</code> <br>
                <input type="radio" name="1" class="c" value="c"><code style="font-size: 1em;">A = 12; B = 155; C = 35</code>
            </div>
            <div class="feedback"></div>

            {% include 'partial/aviso.html' with tipo="verde" mensagem="Mesmo num mundo tão tecnológico, um bom papel e caneta não fariam mal nesse situação, fariam?" %}

        </form>

    </main>

</div>