{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem Somos</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'styles/global/geral.css' %}">
    <link rel="stylesheet" href="{% static 'styles/global/about_us.css' %}">
</head>
<body>
    
    {% include 'partial/header.html' %}
    
    <main>
        <section class="sobre">
            <h1>QUEM SOMOS?</h1>
            <p>
                Somos estudantes, recém ingressados na universidade <strong><a aria-label="Link para o site da instituição católica SC" href="https://www.catolicasc.org.br">Católica</a></strong> em Jaraguá do Sul. Estamos fazendo esse projeto a fim de completar as horas de extensão obrigatórias definidas pelo MEC, ou seja, esse projeto é obrigatório para a conclusão do primeiro semestre do <a aria-label="Link para o curso de engenharia de software" href="https://www.catolicasc.org.br/cursos/graduacao/engenharia-de-software/?unidade=jaragua-do-sul">curso de engenharia de software</a>.
            </p>
            <p>Os principais autores desse projeto são:</p>
            <ul>
                <li><strong>Luan Elizeu Santos</strong> → Conteúdo das fases + HTML/CSS de algumas páginas</li>
                <li><strong>Matheus Forte de Melo</strong> → Design, UI/UX, Programação backend + HTML/CSS/JS geral</li>
                <li><strong>Matheus Kuchenbecker</strong> → Conteúdo e atividades + HTML/CSS de algumas páginas</li>
                <li><strong>Wiliam Carlos Busch</strong> → Conteúdo e atividades + HTML/CSS de algumas páginas</li>
            </ul>
            <p>E por fim, menção honrosa à professora Tassiana pelo feedback e assistência durante o desenvolvimento do website</p>
        </section>

        <section class="contato">
            <h1>CONTATO</h1>
            <p>Precisa de ajuda? Reportar algum bug ou vulnerabilidade do website? Envie-nos um email!</p>
            <p>Envie para Tassiana se o assunto for sobre: O programa de extensão; Assuntos instuticionais; Ou sobre qualquer coisa que não seja relacionada aos aspectos tecnicos do website. </p>
            <p>Envie para Matheus se o assunto for sobre o website ou seus conteúdos. <br></p>
            <small>Se você é um dos criadores de conteúdo que criou alguns dos vídeos que estão presentes nas fases, por favor, contate o Matheus.</small>
            
            <p>→ <a href="mailto:tassiana.kautzmann@catolicasc.org.br">tassiana.kautzmann@catolicasc.org.br</a></p>
            <p>→ <a href="mailto:matheus.melo@catolicasc.edu.br">matheus.melo@catolicasc.edu.br</a></p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3571.6503375545763!2d-49.11778118819601!3d-26.466997774633636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94de940dbec22f4d%3A0xf2864ccc867a7dc1!2sCentro%20Universit%C3%A1rio%20-%20Cat%C3%B3lica%20de%20Santa%20Catarina%20em%20Jaragu%C3%A1%20do%20Sul!5e0!3m2!1spt-BR!2sbr!4v1729620641129!5m2!1spt-BR!2sbr" width="750" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
    </main>
    <script src="{% static 'scripts/modo_escuro_toggle.js' %}"></script>
    <script src="{% static 'scripts/header_res.js' %}"></script>
</body>
</html>
