{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'styles/global/new_home.css' %} ">
</head>
<body>
    <header>
        <div class="header-content">
            <div class="icon"></div>
            <p>Projeto de Extensão</p>
        </div>
    </header>
    <main>
        <section class="content">
            <article class="intro">
                <h1>Projeto Extensionista</h1>
                <h2>Introdução a Programação</h2>
                <p>Aprenda os conceitos fundamentais da programação neste curso gratuíto, criado por alunos e oferecido à integrantes da comunidade do projeto extensionista da Universidade Católica de Santa Catarina.</p>
                <a href="{% url 'world1' %}"><button class="intro-btn">Clique Aqui</button></a>
            </article>
    
            <article class="faq">
                <h3>Perguntas frequentes</h3>
                <div class="sep-line"></div>
                
                <div class="faq-item">
                    <p class="q">Preciso saber algo antes de começar o curso?</p>
                    <p class="a">- Não! O curso abordará tudo que você precisa saber. O curso cobre todo o básico da programação em C.</p>
                </div>
    
                <div class="faq-item">
                    <p class="q">O curso é oficial da universidade católica de santa catarina?</p>
                    <p class="a">- Sim e não. O curso é um oferecimento do programa de extensão da universidade, e é administrado por alunos.</p>
                </div>
    
                <div class="faq-item">
                    <p class="q">O que é o programa de extensão?</p>
                    <p class="a">- Um programa que incentiva os alunos da universidade católica à repassar o conhecimento recebido no semestre à comunidade, ou seja, a voce que está lendo isso. Como alunos, devemos participar desse programa e fazer um projeto (como este) para podermos nos formar. </p>
                </div>
    
                <div class="faq-item">
                    <p class="q">O curso é realmente 100% gratuito?</p>
                    <p class="a">- Sim, sem truques para na metade fazer você comprar um “curso completo”. Como alunos no programa de extensão não podemos cobrar nada de você, nosso objetivo é proliferar conhecimento à todos, e uma barreira monetária vai contra esse princípio.</p>
                </div>
            </article>
            
            <!-- <section class="education-cards-sect">
                <h3>Nesse curso introdutório você vai aprender:</h3>
                <div class="education-cards-container">
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                </div>
            </section> -->

        </section>

        <section class="bg">
            <div class="bg-image"></div>
        </section>

    </main>
    <footer></footer>
</body>
</html>