{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'styles/global/geral.css' %}">
    <link rel="stylesheet" href="{% static 'styles/global/homepage.css' %}">
</head>
<body>
    
    {% include 'partial/header.html' %}

    <main>
        <section class="content">
            <h2 class="title1">Projeto</h2>
            <h1 class="title2">Extensionista</h1>
            <h2 class="sub-title">Introdução à programação</h2>
            <p>O curso oferece aos participantes a oportunidade de aprender os fundamentos da lógica de programação e a linguagem C. Ministradas por alunos do curso de Engenharia de Software da primeira fase, as aulas abordarão conceitos como variáveis, estruturas condicionais e loops, com exercícios práticos. O curso visa introduzir a programação de forma acessível e dinâmica.</p>
            <a class="button-a" href="{% url 'world1' %}"><button>COMECE JÁ!</button></a>
        </section>
        <section class="bg">

        </section>
    </main>
    <script src="{% static 'scripts/header_res.js' %}"></script>
</body>
</html>