{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'styles/global/geral.css' %}">
    <link rel="stylesheet" href="{% static 'styles/global/profile-edit.css' %} ">
</head>
<body>
    <section class="profile-edit">
        <div class="controls">
            <h1>Editor de perfil</h1>
            <p>Seja bem-vindo ao editor de perfil! Faça as alterações desejadas abaixo e as veja no preview à direita. Não se esqueça de clicar em <b>"APLICAR"</b> no final para aplicar suas alterações. Caso queira cancelar, clique no botão <b>"CANCELAR E VOLTAR"</b></p>
            <form action="" method="POST">
                {% csrf_token %}

                <input type="hidden" name="selected_avatar" id="selected_avatar" value="">
                <input type="hidden" name="rgba_color" id="rgba_color" value="">

                <h2>Alterar cor do banner</h2>
                <label for="color-input" id="color-label" style="background-color: {{ user.cor_perfil }}"></label>
                <input type="checkbox" id="color-input" checked></input>

                <div id="color-picker">
                    <canvas id="color-block" height="150" width="150"></canvas>
                    <canvas id="color-strip" height="150" width="30"></canvas>
                </div>

                <h2>Alterar avatar</h2>
                <div class="avatar-container">
                    <div class="avatar" id="avt1"></div>
                    <div class="avatar" id="avt2"></div>
                    <div class="avatar" id="avt3"></div>
                    <div class="avatar" id="avt4"></div>
                    <div class="avatar" id="avt5"></div>
                    <div class="avatar" id="avt6"></div>
                    <div class="avatar" id="avt7"></div>
                    <div class="avatar" id="avt8"></div>
                    <div class="avatar" id="avt9"></div>
                    <div class="avatar" id="avt10"></div>
                    <div class="avatar" id="avt11"></div>
                    <div class="avatar" id="avt12"></div>
                    <div class="avatar" id="avt13"></div>
                    <div class="avatar" id="avt14"></div>
                    <div class="avatar" id="avt15"></div>
                    <div class="avatar" id="avt16"></div>
                    <div class="avatar" id="avt17"></div>
                    <div class="avatar" id="avt18"></div>
                    <div class="avatar" id="avt19"></div>
                    <div class="avatar" id="avt20"></div>
                    <div class="avatar" id="avt21"></div>
                    <div class="avatar" id="avt22"></div>
                    <div class="avatar" id="avt23"></div>
                    <div class="avatar" id="avt24"></div>
                    <div class="avatar" id="avt25"></div>
                    <div class="avatar" id="avt26"></div>
                    <div class="avatar" id="avt27"></div>
                    <div class="avatar" id="avt28"></div>
                </div>

                <div class="buttons">
                    <input type="submit" value="Aplicar">
                    <a href="{% url 'profile' user.pk %}"><button type="button">Cancelar e voltar</button></a>
                </div>
            </form>
            


        </div>
    </section>
    <section class="profile-preview" >
        <div class="profile-banner" style="background-color: {{ user.cor_perfil }};" id="profile-banner"></div>
        <div class="profile-selected-avatar" id="profile-selected-avatar"></div>
    </section>
    <script>
        var img_atual = "{{ user.avatar }}";
    </script>
    <script src="{% static 'scripts/profile-edit.js' %}"></script>
    <script src="{% static 'scripts/modo_escuro_toggle.js' %}"></script>
</body>
</html>