{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa de Fases</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">

    <!-- Locais -->
    <link rel="stylesheet" href="{% static 'styles/global/geral.css' %}">
    <link rel="stylesheet" href="{% static 'styles/world/map_style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/world/levels.css' %}">
    <link rel="stylesheet" href="{% static 'styles/world/contents.css' %}">

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const tema = localStorage.getItem('theme');
            let link = document.createElement('link')
            link.rel = 'stylesheet'

            if (tema == 'dark') {
                link.href = '{% static "styles/prism-dark.css" %}'
            } else {
                link.href = '{% static "styles/prism.css" %}'
            }

            document.head.appendChild(link);

            })

    </script>
</head>
<body>
    <div id="info-fase" data-inicio="{{ request.user.fase }}"></div>

    <!--PopUps-->

    <div class="mapa-container" id="mapaContainer">
        <!-- Mapa de Fases -->
        {% include 'partial/header.html' %}

        <dialog id="p1" class="popup prevent-select">
            <h1>Seja bem vindo!</h1>
            <p>Este projeto se trata de um curso introdutório, então conceitos complicados não serão aplicados. Se você quer começar na programação, aqui é um bom lugar.</p>
            <p>Recomendo que você busque os conhecimentos por conta própria quando estiver travado em uma fase, ou caso não entenda algum conceito. Até recomendaria você a utilizar inteligência artificial, como um professor, onde você poderá fazer perguntas a ele, e ele irá responder (só não abuse, você não aprenderá nada se deixar a I.A fazer tudo por você).</p>
            <p>Enfim, boa sorte! meu contato está <a target="_blank" href="{% url 'about-us' %}">aqui</a>.</p>
            <button type="button">Continuar</button>
        </dialog>

        <dialog id="p2" class="popup prevent-select">
            <h1>Parábens! Você finalizou o curso.</h1>
            <video style="width: 100%;" controls src="{% static 'img/conclusao.mp4' %}"></video>
            <p>Cheque seu perfil e o ranking para ver como você se saiu!</p>
            <button type="button">Continuar</button>
        </dialog>
        
        <div class="mapa" id="mapa">
            <div class="fase conteudo-icon" id="um" data-fase="1" title="Tutorial"></div>
            <div class="fase exercicio-icon" id="dois" data-fase="2" title="Exercicio referente ao tutorial"></div>
            <div class="fase desafio-icon" id="tres" data-fase="3" title="Desafio de Lógica"></div>
            <div class="fase conteudo-icon" id="quatro" data-fase="4" title="Introdução à Lógica de Programação"></div>
            <div class="fase conteudo-icon" id="cinco" data-fase="5" title="Introdução à Programação"></div>
            <div class="fase prova-icon" id="seis" data-fase="6" title="Primeira Avaliação"></div>
            <div class="fase conteudo-icon" id="sete" data-fase="7" title="Estrutura Básica de um Programa em C"></div>
            <div class="fase exercicio-icon" id="oito" data-fase="8" title="Exercicio sobre quebra de linha e estrutura"></div>
            <div class="fase conteudo-icon" id="nove" data-fase="9" title="Declaração de variáveis e Saída Básica"> </div>
            <div class="fase conteudo-icon" id="dez" data-fase="10" title="Entrada de dados e Constantes"></div>
            <div class="fase desafio-icon" id="onze" data-fase="11" title="Desafio dos assuntos abordados"></div>
            <div class="fase exercicio-icon" id="doze" data-fase="12" title="Exercicio sobre entrada de dados"></div>
            <div class="fase conteudo-icon" id="treze" data-fase="13" title="Operadores Aritiméticos"></div>
            <div class="fase desafio-icon" id="quatorze" data-fase="14" title="Desafio sobre Operadores Aritiméticos"></div>
            <div class="fase conteudo-icon" id="quinze" data-fase="15" title="Operadores Relacionais"></div>
            <div class="fase exercicio-icon" id="dezesseis" data-fase="16" title="Exercício sobre operadores"></div>
            <div class="fase conteudo-icon" id="dezessete" data-fase="17" title="Estruturas condicionais"></div>
            <div class="fase exercicio-icon" id="dezoito" data-fase="18" title="Exercício sobre estruturas condicionais"></div>
            <div class="fase desafio-icon" id="dezenove" data-fase="19" title="Desafio bem desafiador"></div>
            <div class="fase prova-icon" id="vinte" data-fase="20" title="Prova Final"></div>
            <canvas id="canvas"></canvas>
        </div>
    </div>
    
    <!-- Aba Lateral -->
    <div class="aba-lateral" id="abaLateral">
        {% include 'levels/fase1.html' %}
        
        {% include 'levels/fase2.html' %}

        {% include 'levels/fase3.html' %}

        {% include 'levels/fase4.html' %}

        {% include 'levels/fase5.html' %}

        {% include 'levels/fase6.html' %}

        {% include 'levels/fase7.html' %}
        
        {% include 'levels/fase8.html' %}

        {% include 'levels/fase9.html' %}

        {% include 'levels/fase10.html' %}

        {% include 'levels/fase10.html' %}

        {% include 'levels/fase11.html' %}

        {% include 'levels/fase12.html' %}

        {% include 'levels/fase13.html' %}

        {% include 'levels/fase14.html' %}

        {% include 'levels/fase15.html' %}

        {% include 'levels/fase16.html' %}

        {% include 'levels/fase17.html' %}

        {% include 'levels/fase18.html' %}
        
        {% include 'levels/fase19.html' %}

        {% include 'levels/fase20.html' %}
    </div>

    <script src="{% static 'scripts/map_script.js' %}"></script> <!-- A lógica de exibição -->
    <script src="{% static 'scripts/logica_conteudo.js' %}"> </script> <!-- A lógica por tras de requests e restricoes --> 
    <script src="{% static 'scripts/modo_escuro_toggle.js' %}"></script>
    <script src="{% static 'scripts/prism.js' %}"></script> <!-- Pra deixar o codigo bunitinho -->

</body>
</html>
