#avt1 {
    background-image: url('../img/avatar/avt1.jpeg');
  }
  
  #avt2 {
    background-image: url('../img/avatar/avt2.jpeg');
  }
  
  #avt3 {
    background-image: url('../img/avatar/avt3.jpeg');
  }
  
  #avt4 {
    background-image: url('../img/avatar/avt4.jpeg');
  }
  
  #avt5 {
    background-image: url('../img/avatar/avt5.jpeg');
  }
  
  #avt6 {
    background-image: url('../img/avatar/avt6.jpeg');
  }
  
  #avt7 {
    background-image: url('../img/avatar/avt7.jpeg');
  }
  
  #avt8 {
    background-image: url('../img/avatar/avt8.jpeg');
  }
  
  #avt9 {
    background-image: url('../img/avatar/avt9.jpeg');
  }
  
  #avt10 {
    background-image: url('../img/avatar/avt10.jpeg');
  }
  
  #avt11 {
    background-image: url('../img/avatar/avt11.jpeg');
  }
  
  #avt12 {
    background-image: url('../img/avatar/avt12.jpeg');
  }
  
  #avt13 {
    background-image: url('../img/avatar/avt13.jpeg');
  }
  
  #avt14 {
    background-image: url('../img/avatar/avt14.jpeg');
  }
  
  #avt15 {
    background-image: url('../img/avatar/avt15.jpeg');
  }
  
  #avt16 {
    background-image: url('../img/avatar/avt16.jpeg');
  }
  
  #avt17 {
    background-image: url('../img/avatar/avt17.jpeg');
  }
  
  #avt18 {
    background-image: url('../img/avatar/avt18.jpeg');
  }
  
  #avt19 {
    background-image: url('../img/avatar/avt19.jpeg');
  }
  
  #avt20 {
    background-image: url('../img/avatar/avt20.jpeg');
  }
  
  #avt21 {
    background-image: url('../img/avatar/avt21.jpeg');
  }
  
  #avt22 {
    background-image: url('../img/avatar/avt22.jpeg');
  }
  
  #avt23 {
    background-image: url('../img/avatar/avt23.jpeg');
  }
  
  #avt24 {
    background-image: url('../img/avatar/avt24.jpeg');
  }
  
  #avt25 {
    background-image: url('../img/avatar/avt25.jpeg');
  }
  
  #avt26 {
    background-image: url('../img/avatar/avt26.jpeg');
  }
  
  #avt27 {
    background-image: url('../img/avatar/avt27.jpeg');
  }
  
  #avt28 {
    background-image: url('../img/avatar/avt28.jfif');
  }
  