body {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/background.jpg);
}



main {
    display: flex;
}

section {
    width: 50%;;
}

.content {
    padding: 0px 0px 20px 110px;
    margin-top: 75px;
}

h1, h2 {
    margin: 0px;
    color: var(--cor_texto);
}

.title1 {
    font-size: 4.5em;
    height: 70px;
}

.title2 {
    font-size: 7em;
    height: 120px;
}

.sub-title {
    font-size: 3.60em;
    color: var(--vermelho_primario);
}

p {
    margin-top: 35px;
    font-size: 1.35em;
    width: 78%;
}

button {
    font-weight: bold;
    margin-top: 20px;
    color: white;
    border: none;
    border-radius: 20px;
    width: 200px;
    height: 50px;
    background-color: var(--vermelho_secundario);
}

.bg {   
    width: 60%;
    background-size: contain;
    background-image: url(../img/bg3_s.png);
    background-repeat: no-repeat;
    height: 795px;
}
