{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'styles/geral.css' %}">
    <link rel="stylesheet" href="{% static 'styles/homepage.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href="#" class="first_a" id="homepage-a">HOME</a>
            <a href="{% url 'world1' %}">CONTEÚDO</a>
            <a href="#">RANKING</a>
            <a href="{% url 'about-us' %}" id="last">SOBRE NÓS</a>
            
            <div class="icons-container">
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'profile' pk=request.user.pk %}">
                    {% else %}
                        <a href="{% url 'signin' %}">
                    {% endif %}
                    
                    <svg id="config-icon" xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="#808080" viewBox="0 0 256 256"><path d="M172,120a44,44,0,1,1-44-44A44.05,44.05,0,0,1,172,120Zm60,8A104,104,0,1,1,128,24,104.11,104.11,0,0,1,232,128Zm-16,0a88.09,88.09,0,0,0-91.47-87.93C77.43,41.89,39.87,81.12,40,128.25a87.65,87.65,0,0,0,22.24,58.16A79.71,79.71,0,0,1,84,165.1a4,4,0,0,1,4.83.32,59.83,59.83,0,0,0,78.28,0,4,4,0,0,1,4.83-.32,79.71,79.71,0,0,1,21.79,21.31A87.62,87.62,0,0,0,216,128Z"></path></svg>
                </a>
                {% if request.user.is_authenticated %}
                    <a id="settings-a" href="{% url 'settings' %}">
                {% else %}
                    <a id="settings-a" href="{% url 'signin' %}">
                {% endif %}
                <svg id="config-icon" xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="#D90429" viewBox="0 0 256 256"><path d="M237.94,107.21a8,8,0,0,0-3.89-5.4l-29.83-17-.12-33.62a8,8,0,0,0-2.83-6.08,111.91,111.91,0,0,0-36.72-20.67,8,8,0,0,0-6.46.59L128,41.85,97.88,25a8,8,0,0,0-6.47-.6A111.92,111.92,0,0,0,54.73,45.15a8,8,0,0,0-2.83,6.07l-.15,33.65-29.83,17a8,8,0,0,0-3.89,5.4,106.47,106.47,0,0,0,0,41.56,8,8,0,0,0,3.89,5.4l29.83,17,.12,33.63a8,8,0,0,0,2.83,6.08,111.91,111.91,0,0,0,36.72,20.67,8,8,0,0,0,6.46-.59L128,214.15,158.12,231a7.91,7.91,0,0,0,3.9,1,8.09,8.09,0,0,0,2.57-.42,112.1,112.1,0,0,0,36.68-20.73,8,8,0,0,0,2.83-6.07l.15-33.65,29.83-17a8,8,0,0,0,3.89-5.4A106.47,106.47,0,0,0,237.94,107.21ZM128,168a40,40,0,1,1,40-40A40,40,0,0,1,128,168Z"></path></svg>
                </a>
            </div>
        </nav>
    </header>
    <main>
        <section class="content">
            <h2 class="title1">Projeto</h2>
            <h1 class="title2">Extensionista</h1>
            <h2 class="sub-title">Introdução à programação</h2>
            <p>O curso oferece aos participantes a oportunidade de aprender os fundamentos da lógica de programação e a linguagem C. Ministradas por alunos do curso de Engenharia de Software da primeira fase, as aulas abordarão conceitos como variáveis, estruturas condicionais e loops, com exercícios práticos. O curso visa introduzir a programação de forma acessível e dinâmica.</p>
            <a href="{% url 'world1' %}"><button>COMECE JÁ!</button></a>
        </section>
        <section class="bg">

        </section>
    </main>
    
</body>
</html>