<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/geral.css">
    <link rel="stylesheet" href="../static/styles/profile-edit.css">
</head>
<body>
    <section class="profile-edit">
        <div class="controls">
            <h1>Editor de perfil</h1>
            <p>Seja bem-vindo ao editor de perfil! Faça as alterações desejadas abaixo e as veja no preview à direita. Não se esqueça de clicar em <b>"APLICAR"</b> no final para aplicar suas alterações. Caso queira cancelar, clique no botão <b>"CANCELAR E VOLTAR"</b></p>
            <form action="" method="POST">

                <h2>Alterar cor do banner</h2>
                <label for="color-input" id="color-label" style="background-color: red"></label>
                <input type="checkbox" id="color-input" checked></input>

                <div id="color-picker">
                    <canvas id="color-block" height="150" width="150"></canvas>
                    <canvas id="color-strip" height="150" width="30"></canvas>
                </div>

                <h2>Alterar avatar</h2>
                <div class="avatar-container">
                    <div class="avatar" id="avt_1"></div>
                        <div class="avatar" id="avt_2"></div>
                        <div class="avatar" id="avt_3"></div>
                        <div class="avatar" id="avt_4"></div>
                        <div class="avatar" id="avt_5"></div>
                        <div class="avatar" id="avt_6"></div>
                        <div class="avatar" id="avt_7"></div>
                        <div class="avatar" id="avt_8"></div>
                        <div class="avatar" id="avt_9"></div>
                        <div class="avatar" id="avt_10"></div>
                        <div class="avatar" id="avt_11"></div>
                        <div class="avatar" id="avt_12"></div>
                        <div class="avatar" id="avt_13"></div>
                        <div class="avatar" id="avt_14"></div>
                        <div class="avatar" id="avt_15"></div>
                        <div class="avatar" id="avt_16"></div>
                        <div class="avatar" id="avt_17"></div>
                        <div class="avatar" id="avt_18"></div>
                        <div class="avatar" id="avt_19"></div>
                        <div class="avatar" id="avt_20"></div>
                        <div class="avatar" id="avt_21"></div>
                        <div class="avatar" id="avt_22"></div>
                        <div class="avatar" id="avt_23"></div>
                        <div class="avatar" id="avt_24"></div>
                        <div class="avatar" id="avt_25"></div>
                        <div class="avatar" id="avt_26"></div>
                        <div class="avatar" id="avt_27"></div>
                        <div class="avatar" id="avt_28"></div>
                </div>
                <input type="submit" value="Aplicar">
                <button>Cancelar e voltar</button>

            </form>

        </div>
    </section>
    <section class="profile-preview"></section>
    <script src="../static/scripts/profile-edit.js"></script>
</body>
</html>